* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-url: url(./assets/bg-desktop.jpg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0;
  padding: 0 24px;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
  border-radius: 50%;
}